body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding:0;
    margin:0;
    background-color: white;
}

/* Head */

.huddle{
    min-height:660px;
    background:url('../images/bg-hero-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #edfbfe;
}

.huddle-logo{
    margin-left: 29px;
    margin-top: 15px;
}

.free-btn{
   border-radius: 20px;
   padding: 5px 45px;
   float: right;
   margin-right: 60px;
   margin-top: 15px;
   font-size: 12px;
   font-weight: bold;
   border: 2px solid rgb(236, 235, 235);
   background-color: rgb(253, 251, 251);
}
  
.build-community {
    float: right;
    width: 670px;
    max-width: 100%;
    margin-left: auto;
    margin-right: 60px;
    margin-top: 61px;
   }

   h1{
       font-size: 43px;
       font-weight: bold;
       padding-top: 180px;
       margin-left: 29px;
   }

   p{
    margin-left: 29px;
    font-size: 16px;
    padding-top: 10px;
    word-spacing: 1px;
    font-weight: 300;
   }

   .build-btn{
    padding-top: 10px;
    font-weight: bold;
    font-size: 11px;
    color: rgb(209, 207, 207);
    border-radius: 20px;
    padding: 7px 47px;
    margin-left: 32px;
    background-color: rgb(241, 89, 208);
   }

   /* End */
   
   /* Grow Together */
   .grow-together{
       margin-top: 120px;
       min-height: 420px;
       background-color: white;
       border: 3px solid rgb(230, 228, 228);
       border-radius: 12px;
       -webkit-box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
  -moz-box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
  box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
   }

   .grow {
    float: right;
    width: 400px;
    max-width: 100%; 
    padding-top: 50px;
    padding-right: 10px;
   }

   .together{
       padding-top: 150px;
       padding-left: 70px;
   }

   h2{
       font-weight: bold;
   }

   .together p1{
       color: rgb(163, 162, 162);
   }
   /* End */



   /* Flowing Conversation */
   .flow-conversation{
    margin-top: 30px;
    min-height: 420px;
    background-color: white;
    border: 3px solid rgb(230, 228, 228);
    border-radius: 12px;
    -webkit-box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
  -moz-box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
  box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
}

   .flow {
    float: left;
    width: 400px;
    margin-top: 40px;
    margin-left: 50px;

   }

   .conversation{
       width: 100%;
       text-align:center;
       padding-top: 100px;
       padding-right: 40px;

   }
   
h3{
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 2rem;
}

.conversation p2{
    color: rgb(163, 162, 162);
}
/* End */



/* Your User */
.your-users{
    margin-top: 30px;
    min-height: 420px;
    background-color: white;
    border: 3px solid rgb(230, 228, 228);
    border-radius: 12px;
    -webkit-box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
  -moz-box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
  box-shadow: 1px 1px 11px 3px rgba(227, 227, 227, 0.68);
}

.your {
 float: right;
 width: 400px;
 max-width: 100%; 
 padding-top: 50px;
 padding-right: 10px;
}

.user{
    padding-top: 150px;
    padding-left: 70px;
}

h4{
    font-weight: bold;
    font-size: 2rem;
}

.user p3{
    color: rgb(163, 162, 162);
}


.ready{
    max-width: 500px;
    border: 1px solid  rgba(227, 227, 227, 0.68);
    height: 200px; 
    border-radius: 12px;
    position: relative;
    z-index: 1000;
    background-color: white;
    margin: 70px auto -4rem auto;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(227, 227, 227, 0.68);
    -moz-box-shadow: 1px 1px 5px 1px rgba(227, 227, 227, 0.68);
    box-shadow: 1px 1px 5px 1px rgba(227, 227, 227, 0.68);
}

h5{
font-weight: bold;
font-size: 23px;
}

/* End */

/* Ready to Build */
.ready-to{
    margin-top: 50px;
    text-align: center;
}

.ready-btn{
    padding-top: 10px;
    font-weight: bold;
    font-size: 11px;
    color: rgb(209, 207, 207);
    border-radius: 20px;
    padding: 9px 47px;
    margin-left: 20px;
    background-color: rgb(241, 89, 208);
   }

   /* End */


/* Footer */


footer{
    min-height: 450px;
    background-color: rgb(2, 63, 63);
    width: 100%;
}


.fot{
    color: white;
}

.fot1{
    margin-top: 90px;
    color: white;
}

p{
    padding-right: 10px;
}


footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
}

.column1{
 margin-top: 170px;
}

.column2{
    margin-top: 170px;
}

.column3{
    margin-top: 200px;
}


.fot3{
    font-size: 14px;
    margin-top: 150px;
    color: white;
}

/* End */