
/* Media Queries */


    @media (max-width:850px) {
        header {
            padding: 10px 6px;
        }

        .huddle-logo {
            width: 150px;
        }

        .huddlee{
            padding: 0 0;
            }

            .free-btn{
                padding: 6px 16px;
                border-radius: 12px;
                font-weight: 800px;
                font-size: 15px;
                background-color: bisque;
            
            }

              .img-fluid{
                width: 80%;
                margin-top: 4px;
                padding: 6px 0 4px 0;
              }

              .build-community {
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }
        

               h1{
                font-size: 30px;
                color: purple;
                padding: 0 0 0 0;
                margin-top: 5px;
                padding-top: 30px;    
      }

      p{
        font-size: 17px;
        line-height: 100%;
        padding: 0 0 1px 0;
    }

    .build-btn{
        padding: 1px 12px;
        border-radius: 10px;
      margin-bottom: 20px;
      font-weight: 700px;
        font-size: 15px;
        background-color:rgb(196, 4, 116);
      }

      .grow-together{
        padding: 5px;
      }

      .together{
        width: 100%;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: left;
    }

    .together h2 {
        font-size: 25px;
        color: rgb(175, 20, 20);
         }
         
    .grow {
        width: 40%;
        }

        
      .flow-conversation{
        padding: 10px;
      }

      .conversation{
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
        padding-left: 20px;
    }

  .flow {
  width: 40%;
  margin-bottom: 35px;
      }
      
      .conversation h3 {
        font-size: 25px;
        color: rgb(175, 20, 20);
         }

         .your-users{
            padding: 10px;
          }

          .user{
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            font-size: 15px;
  
        }

        .your{
            width: 40%;
            margin-bottom: 35px;
                }

                .user h4 {
                    font-size: 20px;
                    color: rgb(175, 20, 20);
                     }

                     .ready{
                        padding: 6px;
                        border-radius: 10px;
                        width: 90%;
                        text-align: center;
                              }
                              
      .ready-to h5{
        font-size: 20px;
        color: brown;
    }
                     
    }

    /* End */

/* Smaller Screen */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 3){
	header {
        padding: 5px 3px;
    }

    .huddle-logo {
        width: 100px;
    }

 .huddlee{
padding: 0 0;
}

    .free-btn{
        padding: 3px 13px;
        border-radius: 10px;
        font-weight: 600px;
        font-size: 13px;
        background-color: beige;
    }

    .build-community {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      h1{
          font-size: 20px;
          color: brown;
          padding: 0 0 3px 0;
          text-align: center;
          margin-top: 30px;
          padding-top: 30px;
          
      }

      p{
          font-size: 15px;
          line-height: 120%;
          padding: 0 0 2px 0;
          text-align: center;
          margin-left: 5px;
      }

      .img-fluid{
        width: 90%;
        margin: 0;
        padding: 6px 0 4px 0;
       margin-top: 4px;
      }

      .build-btn{
        padding: 1px 12px;
        border-radius: 10px;
        font-weight: 700px;
        font-size: 10px;
        background-color: rgb(150, 2, 88);
        float: right;
        margin-right: 150px;
      }
     
      .grow-together{
        padding: 5px;
      }
      
      .together{
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
          font-size: 14px;
      }

      .grow {
      width: 80%;
     margin-bottom: 35px;
      }

      .together h2 {
     font-size: 20px;
     color: rgb(175, 20, 20);
      }


      .flow-conversation{
        padding: 10px;
      }
      
      .conversation{
          width: 100%;
          text-align: center;
          font-size: 14px;
          margin-bottom: 20px;
          padding-left: 20px;
      }

      .flow {
  width: 80%;
  margin-bottom: 35px;
      }

      .conversation h3 {
     font-size: 20px;
     color: rgb(175, 20, 20);
      }
    
      .your-users{
        padding: 10px;
      }
      
      .user{
          width: 100%;
          text-align: right;
          margin-bottom: 20px;
          font-size: 14px;

      }

      .your{
  width: 80%;
  margin-bottom: 35px;
      }

      .user h4 {
     font-size: 20px;
     color: rgb(175, 20, 20);
      }

      .ready{
padding: 6px;
border-radius: 10px;
width: 90%;
text-align: center;
      }

      .ready-to h5{
          font-size: 16px;
          color: brown;
      }

 

      footer  .column3{
          margin-top: 10px;
      }

      .column1{
          margin-top: 10px;
      }

      .column2{
        margin-top: 10px;
    }

      .media{
        padding-left: 200px;
    }
}

